/* CSS for desktop displays */
/* container for top section flexbox */
.logo-title {
    background-color: white;
    width: 960px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Arial, serif;
}

/* used to move the logo to the right to match the example layout */
.empty {
    width: 162px;
    height: 150px;
}

.logo {
    align-self: auto;
    max-width:25%;
    max-height:95%;
    padding: 10px;
    order:1;
    border: none;
}

.name {
    flex: 1;
    align-self: flex-end;
    max-width:85%;
    width: auto;
    height: 140px;
    margin-right: 10px;
    order:2;
}

.my-name {
    font-size: 3em;
    font-weight: bold;
    text-align: end;
    height: 25px;
}

.name-subtitle {
    font-size: 1.2em;
    font-style: italic;
    text-align: end;
}

body {
    background-color: dimgrey;
    font-family: Arial, serif;
    margin-top: 20px;
}

main {
    background-color: white;
    width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.color-palette {
    padding: 10px;
    max-width:  20%;
    align-self: flex-start;
}

.color-box {

}

.box-1 {
    width: 60px;
    height: 60px;
    background-color: #f7bc56;
    margin-left: 7px;
}

.box-2 {
    width: 60px;
    height: 60px;
    background-color: #ffe0e5;
    margin-left: 7px;
}

.box-3 {
    width: 60px;
    height: 60px;
    background-color: #a7caea;
    margin-left: 7px;
}

.hero {
    padding-top: 20px;
    padding-right: 10px;
    min-width:  80%;
    align-self: center;
    border-top-style: solid;
    border-color: dimgrey;

}

.hero-image {
}

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: auto;
    padding-right: 25px;
}

.featured-title {
    padding-left: 169px;
    max-height: 20px;
    margin: 5px;
}

.featured-images {
    align-self: auto;
    flex: 1;
    max-width:30%;
}

img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-color: lightgrey;
}

.caption {
    padding-top: 5px;
    font-size: 1.2em;
    text-align: center;
}

.image {

}

.image-link {

}