/* Header */
#logo-title {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}
.header-border {
    border-bottom-style: solid;
    border-color: dimgrey;
}

.logo {
    max-width: 100%;
    max-height: 8em;
    padding: 1em 1em 1em 0;
    margin-left: 11%;
    border: none dimgrey;
    border-bottom-style: solid;
}

.name {
    flex: 1;
    align-self: flex-end;
    max-width:72.5%;
    margin-right: 1em;
    order:1;
}

.my-name {
    font: bold 3em/0.0 Arial, sans-serif;
    text-align: end;
}

.name-subtitle {
    font: italic 1.2em/0.0 Arial, sans-serif;
    text-align: end;
}

body {
    background-color: dimgrey;
    font-family: Arial, serif;
    margin-top: 2%;
}

/* Content */
main {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}

/* Colored Boxes */
#color-palette {
    max-width: 100%;
    min-width: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.color-box {

}

.box-1 {
    width: 4em;
    height: 4em;
    background-color: #f7bc56;
    margin-left: 0.5em;
}

.box-2 {
    width: 4em;
    height: 4em;
    background-color: #ffe0e5;
    margin-left: 0.5em;
}

.box-3 {
    width: 4em;
    height: 4em;
    background-color: #a7caea;
    margin-left: 0.5em;
}

/* Hero Content */
#hero {
    padding: 1em 7.25% 0 0.75%;
    min-width: 70%;
    flex: 1;
}

.hero-image {
    flex: 1;
}

/* Featured Content */
#featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8.5%;
}

.featured-title {
    padding-left: 10.75%;
    font-size: 1.5em;
}

.featured-images {
    flex: 1;
    min-width: 22%;
    max-width: 25.5%;
}

img {
    max-width: 100%;
    height: auto;
    border: solid lightgrey;
}

.caption {
    padding-top: 0.2em;
    font-size: 1em;
    text-align: center;
}

.image {

}

.image-link {

}