/* For medium sized screens responsiveness */

#logo-title {
    width: 100%;
}

/* shrinking margin for better fit on page */
.logo {
    margin-left: 5%;
}
.name {
    align-self: center;
}
body {
    margin: 0;
}

main {
    width: 100%;
}

/* changing from column to row for flex direction */
#color-palette {
    padding-top: 4%;
    margin-left: 2%;
    flex-direction: row;
    width: 90%
}

.color-box {
    width: 5%;
    flex: 1;
    align-items: baseline;
}

#hero {
    padding: 5%;
    min-width: 90%;
}

/* Making the section wrap */
#featured {
    flex-wrap: wrap;
    padding: 0;
}

.featured-title {
    padding-left: 5%;
}

.featured-images {
    padding: 5%;
    min-width: 20%;
    max-width: 80%;
}