/* for mobile phone screen responsiveness */
#logo-title {
    flex-wrap: wrap;
}

.logo {
    max-height: 4em;
    margin: auto;
    padding-left: 1em;
}

.my-name {
    font: bold 1.5em/0.0 Arial, sans-serif;
}

.name-subtitle {
    font: italic 0.7em/0.0 Arial, sans-serif;
}

.featured-images {
    padding: 0;
}